{% extends 'base.html'%}
{% load static %}
{% block content %}
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Latest Blog Posts</strong></h4>

        <div class="row">
          {% for blog in blogs %}
          <div class="col-lg-4 col-md-12 mb-4" >
            <div class="card" style='height:400px'>
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{blog.blog_image.url}}" class="img-fluid" width="50%" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ blog.blog_tittle }}</h5>
                <p class="card-text">
                  {{ blog.blog_description }}
                </p>

                <a href="{% url 'readmore'%}" class="btn btn-primary" style='bottom:400px'>Read</a>
              </div>
            </div>
          </div>
          {% endfor %}
      </section>
      <!--Section: Content-->

      <!-- Pagination -->
      <nav class="my-4" aria-label="...">
        <ul class="pagination pagination-circle justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </main>
  <!--Main layout-->
  <!-- Copyright -->
{% endblock %}